Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Screenshot/screenshotSlot1.png
Content/Building/screenshot.png
Screenshot/screenshotSlot2.png
Screenshot/screenshotSlot3.png
Screenshots/screenshot.png
